.content {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: transform 1s;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateX(180deg);
  transition: transform 0.2s;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  background-color: yellowgreen;
  transform: rotateX(180deg);
}
